{% load static %}
<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
          class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-sticky shadow my-3 py-2 start-0 end-0 mx-4 {% if absolute %}position-absolute{% endif %}">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3"
             href="/" rel="tooltip" data-placement="bottom">
            Task manager
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
              <li>
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                   href="{% url "tasks:project-list" %}">
                  Projects
                </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                   href="javascript:;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                  Employees
                  <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1">
                </a>
                <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3"
                     aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">
                    <div
                        class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
                      <a href="{% url "employees:employee-list" %}">All employees</a>
                    </div>

                    <div
                        class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0 mt-3">
                      <a href="{% url "employees:team-list" %}">Teams</a>
                    </div>
                    {% if request.user.is_authenticated %}
                    {% endif %}
                  </div>
                </div>
              </li>

              {% if request.user.is_authenticated %}
                <li class="nav-item ms-lg-auto">
                  <form method="post" action="{% url "employees:employee-logout" %}">
                    {% csrf_token %}
                    <div class="nav-link nav-link-icon me-2">
                      <button type="submit" class="nav-link nav-link-icon me-2"
                              style="background: none; border: none; padding: 0; cursor: pointer;">
                        <i class="fa fa-sign-out me-1"></i>
                        <p class="d-inline text-sm z-index-1000 font-weight-bold" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Logout">Logout</p>
                      </button>
                    </div>
                  </form>
                </li>
              {% else %}
                <li class="nav-item ms-lg-auto">
                  <a class="nav-link nav-link-icon me-2"
                     href="{% url 'employees:employee-login' %}">
                    <i class="fa fa-sign-in me-1"></i>
                    <p class="d-inline text-sm z-index-1000 font-weight-bold" data-bs-toggle="tooltip"
                       data-bs-placement="bottom" title="Login">Login</p>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>