{% extends 'base.html' %}
{% load static %}

{% block title %}Sign in{% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

  {#{% include 'includes/navigation.html' %}#}

{% endblock header %}

{% block content %}
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-15 mx-auto">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h4 class="font-weight-bolder">Logged out</h4>
                <p class="mb-0"><a href="{% url "employees:employee-login" %}">Sign in again</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}
{% endblock footer %}