{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}
  {% include "includes/navigation.html" %}
{% endblock header %}

{% block content %}
  <section>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-15 mx-auto">
            <div class="card card-plain">
              <div class="card-body">
                <form method="post" action="{% url "tasks:project-create" %}" role="form">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <span class="text-danger"> {{ error }} </span>
                    {% endfor %}
                  {% endif %}

                  <div class="mb-3">
                    {% if form.name.errors %}
                      {% for error in form.name.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    <input class="form-control form-control-lg" name="name" placeholder="Title" aria-label="Title"
                           aria-describedby="text-addon" value="{{ form.name.value|default:'' }}">
                  </div>

                  <div class="mb-3">
                    {% if form.description.errors %}
                      {% for error in form.description.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                    <textarea
                        class="form-control form-control-lg min-vh-45"
                        name="description" placeholder="Description" aria-label="Description"
                        aria-describedby="password-addon"></textarea>
                  </div>
                  <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Create project
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}

  {% include 'includes/footer_signin.html' %}

{% endblock footer %}