{% extends "base.html" %}
{% load static %}

{% block title %}Project list{% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

  {% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="font-weight-bolder mb-0">Projects</h4>
    <form class="d-flex flex-grow-1 mx-6" action="" method="get">
      <input type="text" name="query" placeholder="Search" class="form-control"
             value="{{ request.GET.query|default:'' }}">
    </form>
    <a href="{% url "tasks:project-create" %}">
      <button type="button" class="btn btn-primary w-auto me-1 mb-0">
        Add New Project
      </button>
    </a>
  </div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th>Project</th>
      <th>Tasks</th>
      <th>Teams</th>
    </tr>
    </thead>
    <tbody>
    {% for project in project_list %}
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <a href="{% url "tasks:project-detail" project.slug %}">
              {{ project.name }}
            </a>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1 d-flex align-items-center">
            <span title="Active tasks">
            {% include "includes/svg/dot.html" with color="green" %}{{ project.active_tasks_num }}
            </span>
            &nbsp;
            <span title="Completed tasks">
            {% include "includes/svg/dot.html" with color="grey" %}{{ project.completed_tasks_num }}
            </span>
          </p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ project.teams.all|join:", "|default:"No teams assigned" }}</p>
        </td>
      </tr>
    {% empty %}
      <p>There are no projects yet.</p>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}