{% extends "base.html" %}
{% load static %}
{% load tasks_filters %}

{% block title %}Project list{% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

  {% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <form class="d-flex flex-grow-1 mx-6" action="" method="get">
      <input type="text" name="query" placeholder="Search" class="form-control"
             value="{{ request.GET.query|default:'' }}">
    </form>
    <a href="{% url "tasks:task-create" project.slug %}">
      <button type="button" class="btn btn-primary bg-gradient-primary w-auto me-1 mb-0">
        Add New Task
      </button>
    </a>
  </div>
  <div class="mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="font-weight-bolder mb-0" id="toggleDescription"
          {% if project.description %}style="cursor: pointer;{% endif %}">
        {{ project.name }} {% if project.description %} {% include "includes/svg/arrow_down.html" %} {% endif %}
      </h4>
      <div>
        <a class="btn bg-gradient-secondary my-auto" href="{% url "tasks:project-update" project.slug %}">Edit</a>
        <a class="btn bg-gradient-danger my-auto" href="{% url "tasks:project-delete" project.slug %}">Delete</a>
      </div>
    </div>
    <div class="collapse" id="descriptionCollapse">
      <div class="card card-body">
        {{ project.description }}
      </div>
    </div>
  </div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th>Task</th>
      <th>Priority</th>
      <th>Deadline</th>
      <th>Assignees</th>
      <th>Type</th>
      <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>

        <td>
          <div class="d-flex justify-content-between">
            <a href="{% url "tasks:task-detail" task.slug %}">
              {{ task.name }}
            </a>
            <div class="fw-normal mb-1">
              {% if task.is_completed %}
                <span title="Completed by {{ task.completed_by }}">
              {% include "includes/svg/dot.html" with color="green" %}
              </span>
              {% endif %}
            </div>
          </div>
        </td>

        <td>
          <p class="fw-normal my-auto d-flex align-items-center">
            {% if task.priority == "1" %}
              {% include "includes/svg/dot.html" with color="red" %} Urgent
            {% elif task.priority == "2" %}
              {% include "includes/svg/dot.html" with color="yellow" %} High
            {% elif task.priority == "3" %}
              {% include "includes/svg/dot.html" with color="green" %} Medium
            {% elif task.priority == "4" %}
              {% include "includes/svg/dot.html" with color="grey" %} Low
            {% endif %}
          </p>
        </td>

        <td>
          <p class="fw-normal mb-1">{{ task.deadline }}</p>
        </td>

        <td>
          <p class="fw-normal mb-1">{{ task.assignees.all|join:", "|default:"None" }}</p>
        </td>

        <td>
          <p class="fw-normal mb-1">{{ task.task_type }}</p>
        </td>

        <td>
          <p class="fw-normal mb-1">{{ task.tags.all|join:", "|default:"" }}</p>
        </td>

      </tr>
    {% empty %}
      <p>There are no tasks yet.</p>
    {% endfor %}
    </tbody>
  </table>
  {% if project.description %}
    <script>
        document.getElementById("toggleDescription").addEventListener("click", function () {
            var collapseElement = document.getElementById("descriptionCollapse");
            if (collapseElement.classList.contains("show")) {
                collapseElement.classList.remove("show");
            } else {
                collapseElement.classList.add("show");
            }
        });
    </script>
  {% endif %}
{% endblock %}
{% block footer %}
  {% include "includes/messages.html" %}
  {% include 'includes/scripts.html' %}
{% endblock footer %}