{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object|yesno:"Update,Create"}} project{% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}
  {% include "includes/navigation.html" %}
  {% include "includes/scripts.html" %}
{% endblock header %}

{% block content %}

  <section>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-7 d-flex flex-column mx-lg-15 mx-auto">
            <h4 class="font-weight-bolder mb-0">{{ object|yesno:"Edit,Add new"}} project</h4>
            <div class="card card-plain">
              <div class="card-body">
                <form method="post" action="{% url "tasks:project-create" %}" role="form">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <span class="text-danger"> {{ error }} </span>
                    {% endfor %}
                  {% endif %}

                  <!-- Start Row for the form fields -->
                  <div class="row">
                    <!-- Column for name and description -->
                    <div class="col-md-6">
                      <div class="mb-3">
                        {% include "includes/errors/field_errors.html" with field=form.name %}
                        {{ form.name }}
                      </div>

                      <div class="mb-3">
                        {% include "includes/errors/field_errors.html" with field=form.description %}
                        {{ form.description }}
                      </div>
                    </div>

                    <!-- Column for teams -->
                    <div class="col-md-6">
                      <div class="mb-3">
                        <p class="text-sm text-dark mb-1">Teams</p>
                        {% include "includes/errors/field_errors.html" with field=form.teams %}
                        <script>initSelect2("#id_teams")</script>
                        {{ form.teams }}
                      </div>
                    </div>
                  </div>
                  <!-- End Row -->

                  <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">
                    {{ object|yesno:"Update,Create"}} project
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block footer %}
{% endblock footer %}